.main {
  min-height: 90vh;
  display: flex;
}
.container {
  padding-inline: 10%;
  margin: 30px;
  background-color: #f4f2f3;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
}
.hero_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: start;
  color: #55575c;
}
.hero {
  font-size: 50px;
  font-weight: 550;
}
.subtitle {
  font-size: medium;
  margin-top: 10px;
  margin-bottom: 30px;
}
.header_img {
  position: relative;
  height: 500px;
  width: 600px;
}
