.footer {
    background-color: #f8fafc;
    /* padding-inline: 10px; */
    padding-block: 20px;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 10px;
}
.follow_us {
    margin-bottom: 48px;
}
/* .links {

} */